- name: Preconfigure hosts before installing kubernetes
  hosts: all
  gather_facts: false
  become: true
  tags: sysctl
  vars:
    sysctl_config:
      net.ipv4.ip_forward: 1
      fs.inotify.max_user_watches: 2097102
      fs.inotify.max_user_instances: 2097102
      fs.inotify.max_queued_events: 2097102
      kernel.pid_max: 4194304  # Default value
      #net.netfilter.nf_conntrack_max: 131072  # Default value
  tasks:
   - name: Change sysctl configs
     ansible.posix.sysctl:
       name: '{{ item.key }}'
       value: '{{ item.value }}'
       sysctl_set: yes
       state: present
       reload: yes
     with_dict: '{{ sysctl_config }}'
       
       
- name: Check if swap is enabled
  hosts: all
  gather_facts: false
  tags: test
  tasks:
    - name: Check swap
      ansible.builtin.command: swapon --noheadings
      register: swap_status
      changed_when: false
      failed_when: false

    - name: Fail if swap is enabled
      ansible.builtin.fail:
        msg: "Swap is enabled on {{ inventory_hostname }}. Disable it before proceeding."
      when: swap_status.stdout != ""


- name: Check if /var is on a separate LVM volume
  hosts: all
  gather_facts: false
  tags: varcheck
  tasks:
    - name: Get mount info for /var
      ansible.builtin.command: findmnt -no SOURCE /var
      register: var_mount
      changed_when: false
      failed_when: false

    - name: Fail if /var is not on LVM
      ansible.builtin.fail:
        msg: "/var is not on a separate LVM logical volume. Configure LVM for /var before proceeding."
      when: var_mount.stdout is not match("^/dev/mapper/") and var_mount.stdout is not match("^/dev/[a-zA-Z0-9_-]+/[a-zA-Z0-9_-]+")


- name: Copy files for airgap installation
  hosts: all
  become: true
  gather_facts: false
  tags: copy
  tasks:
    - name: Create system directories
      ansible.builtin.file:
        path: '{{ item }}'
        state: directory
        mode: '0755'
        owner: root
        group: root
      loop:
        - /var/lib/rancher/k3s/agent/images
        - /etc/rancher/k3s

    - name: Create cache.json
      ansible.builtin.file:
        path: /var/lib/rancher/k3s/agent/images/.cache.json
        state: touch
        mode: '0644'
        owner: root
        group: root
      changed_when: false

    - name: Copy k3s-airgap-images file
      ansible.builtin.copy:
        src: "../files/k3s/{{ K3S_VERSION }}/k3s-airgap-images-{{ CLI_ARCH }}.tar.zst"
        dest: "/var/lib/rancher/k3s/agent/images/k3s-airgap-images-{{ CLI_ARCH }}.tar.zst"
        owner: root
        group: root
        mode: '0644'

    - name: Copy k3s binary
      ansible.builtin.copy:
        src: "../files/k3s/{{ K3S_VERSION }}/k3s"
        dest: "/usr/local/bin/k3s"
        owner: root
        group: root
        mode: '0755'

    - name: Copy installation script
      ansible.builtin.copy:
        src: "../files/k3s/{{ K3S_VERSION }}/install.sh"
        dest: "/root/install.sh"
        owner: root
        group: root
        mode: '0755'

    - name: Copy config.yaml
      ansible.builtin.template:
        src: ../files/k3s/config.yaml
        dest: "/etc/rancher/k3s/config.yaml"
        owner: root
        group: root
        mode: '0644'
