- name: Preconfigure hosts before installing kubernetes
  hosts: all
  gather_facts: false
  become: true
  tags: sysctl
  vars:
    sysctl_config:
      net.ipv4.ip_forward: 1
      fs.inotify.max_user_watches: 2097102
      fs.inotify.max_user_instances: 2097102
      fs.inotify.max_queued_events: 2097102
      kernel.pid_max: 4194304  # Default value
      #net.netfilter.nf_conntrack_max: 131072  # Default value
  tasks:
   - name: Change sysctl configs
     ansible.posix.sysctl:
       name: '{{ item.key }}'
       value: '{{ item.value }}'
       sysctl_set: yes
       state: present
       reload: yes
     with_dict: '{{ sysctl_config }}'
       
       
- name: Check if swap is enabled
  hosts: all
  gather_facts: false
  tasks:
    - name: Check swap
      ansible.builtin.command: swapon --noheadings
      register: swap_status
      changed_when: false
      failed_when: false

    - name: Fail if swap is enabled
      ansible.builtin.fail:
        msg: "Swap is enabled on {{ inventory_hostname }}. Disable it before proceeding."
      when: swap_status.stdout != ""


- name: Check if /var is on a separate LVM volume
  hosts: all
  gather_facts: false
  tags: varcheck
  tasks:
    - name: Get mount info for /var
      ansible.builtin.command: findmnt -no SOURCE /var
      register: var_mount
      changed_when: false
      failed_when: false

    - name: Fail if /var is not on LVM
      ansible.builtin.fail:
        msg: "/var is not on a separate LVM logical volume. Configure LVM for /var before proceeding."
      when: var_mount.stdout is not match("^/dev/mapper/") and var_mount.stdout is not match("^/dev/[a-zA-Z0-9_-]+/[a-zA-Z0-9_-]+")
