- name: Configure kubeconfig
  hosts: initial_k3s_server,k3s_servers
  become: true
  gather_facts: false
  tasks:
    - name: Create .kube directory
      become: true
      ansible.builtin.file:
        path: "/root/.kube"
        state: directory
        mode: '0700'
        owner: "root"
        group: "root"

    - name: Copy k3s kubeconfig
      become: true
      ansible.builtin.copy:
        src: /etc/rancher/k3s/k3s.yaml
        dest: "/root/.kube/config"
        owner: "root"
        group: "root"
        mode: '0600'
        remote_src: true

    - name: Ensure KUBECONFIG is exported in .bashrc
      become: true
      ansible.builtin.blockinfile:
        path: "/root/.bashrc"
        block: |
          export KUBECONFIG=$HOME/.kube/config
          alias k=kubectl
